@font-face {
  font-family: "iconfont";
  /* Project id 4072419 */
  src: url('//at.alicdn.com/t/c/font_4072419_xhi2n3x6x7c.woff2?t=1685015065420') format('woff2'),
    url('//at.alicdn.com/t/c/font_4072419_xhi2n3x6x7c.woff?t=1685015065420') format('woff'),
    url('//at.alicdn.com/t/c/font_4072419_xhi2n3x6x7c.ttf?t=1685015065420') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-curved:before {
  content: "\e615";
}

.icon-arrow-double:before {
  content: "\e611";
}

.icon-arrow-line:before {
  content: "\e612";
}

.icon-arrow-right:before {
  content: "\e613";
}

.icon-arrow-left:before {
  content: "\e614";
}

.icon-yanse:before {
  content: "\e84a";
}

.icon-brokenRadius:before {
  content: "\e604";
}

.icon-bringtobottom:before {
  content: "\e6bc";
}

.icon-bringtotop:before {
  content: "\e6be";
}

.icon-tubiao-:before {
  content: "\e652";
}

.icon-format:before {
  content: "\e62a";
}

.icon-geshishua1:before {
  content: "\e800";
}

.icon-a-Property1mofabang:before {
  content: "\e6ab";
}

.icon-caozuo-chexiao:before {
  content: "\e600";
}

.icon-caozuo-zhongzuo:before {
  content: "\e601";
}

.icon-fallback:before {
  content: "\e6fe";
}

.icon-callback:before {
  content: "\e6ff";
}

.icon-brokenLine:before {
  content: "\e602";
}

.icon-straight:before {
  content: "\e752";
}

.icon-curve:before {
  content: "\e753";
}